__pycache__/
secret_key/
secret_key.txt
media/
db.sqlite3
static/
photo_directory/
processed_images/
photos/
photos_tn/
migrations/
settings.py
htmlcov/
.coverage
venv/
requirements.in
devel/
.vscode/
scratch.md
.DS_Store
test.py
create_requirements_txt.sh
**/tests.ipynb
**/*.log
**/dev_notes.md
**/*.tif
**/rename_test
**/.ipynb_checkpoints
**/.vscode
results.txt
**/test/
**/photos_test/
**/logfile_archive/




